/* app css stylesheet */

body { 
    padding-top: 65px; 
}

.white {
    background-color: #ffffff;
}

.login {
    width:211px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -125px;
    margin-top: -125px;
}

.error-box {
    width:311px;
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -125px;
    margin-top: -125px;
}

.buttons-login
{
    margin-left:14px;
}

.button-disabled {
    font-family: 'latolight', sans-serif;
    text-transform: uppercase;
    padding:15px 20px;
    background-color: grey;
    font-size: 16px;
    background-repeat: repeat-x;
    width:100%;
    cursor: auto;
    border-radius: 7px;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: white;
}

.button:hover {
	background-color: grey;
    color: white;
    background-position: 0 -15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;}

.margedTop {
    margin-top:50px;
}

.loading {
    width:250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: 100px;
}

.loading-activities {
margin-top: -57px;
margin-bottom: -61px;
}
.loadingMini {
    width:40px;
    float:none;
    display:inline-block;
    margin-top:-13px;
    margin-left:5px;
    float:none;
    display:inline-block;
    vertical-align:top;
    margin-left:15px;
}

.m-template {
    width:308px;
    height:548px;
    margin-top: -12px;
    margin-left:100px;
    padding-top:110px;
    padding-left:45px;
    padding-right:45px;
    padding-bottom:100px;
    top: 50%;
    left: 50%;
}

.m-template-level{
    background-image:url('../img/m-template.png');
}

.m-template-course{
    background-image:url('../img/m-template-course.png');
}

.background-course{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    background-image:url('../img/background-course.png');
    width:800px;
    height:600px;
    overflow:hidden;    
}

.background-level{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    background-image:url('../img/background-level.png');
    width:800px;
    height:600px;
    overflow:hidden;    
}

.background-quiz-activity{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    background-image:url('../img/background-quiz.png');
    width:800px;
    height:600px;
    overflow:hidden;    
}

.background-visual-activity{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    background-image:url('../img/background-linguistic.png');
    width:800px;
    height:600px;
    overflow:hidden;    
}

.background-linguistic-activity{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    background-image:url('../img/background-linguistic.png');
    width:800px;
    height:600px;
    overflow:hidden;    
}

.background-geospatial-activity{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    background-image:url('../img/background-geospatial.png');
    width:800px;
    height:600px;
    overflow:hidden;    
}

.m-title {
    height: 42px;
    width:221px;
    border: 0px solid;
    background-color:transparent;
    line-height: 2.1em;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
    padding:5px;
    text-overflow: ellipsis;
}

.m-content {
    height:204px;
    width:221px;
    overflow:hidden;
    overflow-y: hidden;
}

.m-content-level {
    height:239px;
    width:221px;
    overflow:hidden;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-position: center; "
}

.m-description {
    width:221px;
    height:60px;
    border: 0px solid;
    background-color:transparent;
    line-height: 1.5;
    color: #333;
    font-size: .9em;
    resize: none;
}

.bottom-bar {
    margin-top:6px;
    margin-bottom:124px;
    margin-left:3px;
    width:100%;
}

.column-left {
    position:relative;
    float:left;
    width:50%;
    margin-top:42px;
}

.column-right {
    position:relative;
    float:left;
    margin-bottom:-60px;
    width:50%;
}

.title-description-cls {
    margin-top:20px;

}

.description-description-cls {
    margin-top: 11px;
    width:350px;
}

.activities-description-cls {
    margin-top: 18px;
}

.select-options {
    width: 105px;
}

.input-code-cls {
    line-height: 1px;
}

.save-course-btn-cls {
    display: inline-block;
    padding: 5px;
    width: 150px;
    margin-top: 33px;
    vertical-align:top;
}
    
.saved-text-cls{
    float:none;
    vertical-align:top;
    margin-left:40px;
    margin-top:18px;
}
.fade-out {
    opacity: 1; 
    transition: all 2s;
}

.vanish {
    opacity: 0
}

.activity-list {
    width: 221px;
    -webkit-box-flex: 1;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;"
}

.carousel-card {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.list-item-label {
    min-height: 2.6em;  
    padding: 0.65em 0.8em;
    
}

.list-item {
    position: relative;
    color: black;
    cursor: pointer;
}



.bottom-left {
    float:left;
}

.bottom-right {
    float:right;
}

.button-sencha {
    background-color: #11598c;
}

.breadcumb {
    color: #303333;
    font: 30px 'latolight', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
    height:43px;
}

.element1-description-cls {
    margin-top:30px;
}

.element2-description-cls {
    margin-top:30px;
}

.activity-query {
background-image: linear-gradient(#ffffff,#f2f2f2 2%,#cecece);
border-color: #616161;
border: 0px;
border-bottom: 1px solid;
height: 35px;
font-family: 'Helvetica Neue', HelveticaNeue, 'Helvetica-Neue', Helvetica, 'BBAlpha Sans', sans-serif;
line-height: 2.1em;
font-size: 0.92em;
text-align: center;
font-weight: bold;
overflow: hidden;
text-overflow: ellipsis;
text-wrap:none;
padding:5px;
}

.activity-query:focus {
    background-image: linear-gradient(#ffffff,#f2f2f2 2%,#cecece);
    border-color: #616161;
    border: 0px;
    border-bottom: 1px solid;
    height: 35px;
    font-family: 'Helvetica Neue', HelveticaNeue, 'Helvetica-Neue', Helvetica, 'BBAlpha Sans', sans-serif;
    line-height: 2.1em;
    font-size: 0.92em;
    text-align: center;
    font-weight: bold;
    overflow: auto;
    text-overflow: ellipsis;
    text-wrap:normal;
}

.backButton {

    background-image: url(../img/back_button.png);
    width:62px;
    height:35px;
    color: white;
    padding-top: 5px;
    padding-left: 14px;
    font-family: 'latolight', sans-serif;
    text-transform: uppercase;
}

.uploadedImage {
    display: inline-block;
    padding: 3px;
    width: 120px;
    margin-top: 45%;
    margin-left:45px;
    vertical-align:top;
    text-align:center;
}

.saveButton {
    margin-top: -61px;
    margin-left: -400px;
}
.saveButton-inside {
    display: inline-block;
    padding: 5px;
    width: 150px;
    vertical-align: top;
}

.countdown {
color: white;
font: bold Helvetica, Sans-Serif;
letter-spacing: -1px;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.7);
padding: 3px;

}

.square {
width: 44px;
height: 44px;
border: 1px solid;
border-color: black;
float:left;
}

.squares{
position:absolute;
width:222px;

overflow:hidden;
border: 1px solid;
}

.geospatial-slider {
    width:150px;
}

.oculta {
    display:none;
}

/*Course Detail*/
.course-description {
    height:100px;
}

.new-level-btn {
    width:120px;
    background-color: #11598c; 
    background-image: linear-gradient(#4ca9e9,#156eac 2%,#0d456c);
    padding: 3px;
    margin-top: 33px;
}

.new-level-btn:hover {
    background-color: #11598c; 
}

.start-level-btn{
    text-transform: uppercase;
    background-color: #11598c; 
    background-image: linear-gradient(#4ca9e9,#156eac 2%,#0d456c);
    display: inline-block;
    padding: 2px;
    width: 120px;
    margin-right:6px;
    vertical-align:top;
}

.start-level-btn-disabled{
    padding:0px;    
    text-transform: uppercase;
    display: inline-block;
    padding: 2px;
    width: 120px;
    margin-right:6px;
    vertical-align:top;
    cursor:auto;
}

.start-level-btn:hover {
    background-color: #11598c; 
}

/*Level Detail*/
.mini-menu-activity {
    color: #009bdb;
    font-size: 14px;
    margin-top:-15px;
    margin-left:12px;
}

.remove-activity-btn {
    float:left;
    cursor: pointer;
}

.edit-activity-btn {
    float:left;
    margin-left:5px;
    cursor: pointer;
}

.select-activity-type {
    display: inline-block;
    padding: 5px;
    width: 150px;
    margin-top: 13px;
    vertical-align:top
}

.new-activity-btn {
    display: inline-block;
    padding: 5px;
    width: 150px;
    margin-top: 13px;
    margin-bottom: 13px;
    vertical-align:top;
}

/*Linguistic Activity */

.height175 {
    height:175px;
}

.add-image-btn {
    display: inline-block;
    padding: 3px;
    width: 120px;
    margin-top: 45%;
    margin-left:45px;
    vertical-align:top;
    text-align:center;
}

.hide-text-div {
    -webkit-box-align: stretch; 
    -webkit-box-pack: center;
}

/* Geospatial Activity */
.map-cls {
    height:204px;
}

/* Visual Activity */

.visual-answer {
    style="-webkit-box-flex: 1;
    -webkit-box-flex: 1;
    width: 80%;
    -webkit-box-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    font-weight: bold;
    line-height: 1.2em;
    background-color: #ccc;
    overflow: hidden;
    font-weight: normal;
    -webkit-border-radius: 0.4em;
    border-radius: 0.0em;
    background-image: linear-gradient(#ffffff,#dedede 2%,#bababa);
}

.remove-answer {
    margin-top: -4px;
}

.not-answers {
    height:172px;
    overflow-y: hidden;
}
.high-light {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
