/* app css stylesheet */

body { 
    padding-top: 65px; 
}

.logotop { 
    height: 50px;
}

/* resize images */
.logotop img {
    height: 37px;
    width: auto;
}

.white {
    background-color: #ffffff;
}

.margedTop {
    margin-top:20px;
}

