<div class="container-fluid margedTop">
  <div class="row-fluid">
    <div class="span10">
        <div ng-show="!course">
            <img src="img/loading.gif" class="loading">
        </div>
        <div class="row" ng-show="course" id="row" >
            <div class="six columns cbp-so-side cbp-so-side-left" >
            <!-- Title -->
            <h3 id="title-description"  style="margin-top:61px;margin-right:200px;">Course Title</h3>
            <!-- Content -->
            <p id="description-description" style="margin-top:10px;margin-right:85px;"><b>Course description:</b> 
           <br>
           That's the place where you describe your course.</p>
            <br>
            <br>
            <p ><b>Course options:</b>
            <br>
                Language: <select  ng-model="language" ng-options="c.name for c in languages" style="width: 105px;">
               </select>
               <br>
                Knowledge Field: <select style="
    width: 105px;
">
                  <option value="volvo">Art</option>
                  <option value="saab">Humanities</option>
               </select>
               <br>
                Course Modality: <select  ng-model="career_type" ng-options="c for c in career_types" style="width: 105px;">
               </select>
               <br>
               Code: <input ng-model="course.code" type="text" style="line-height: 1px;" ></p>
               <br>
               <button class="button2 fade3" style="display: inline;padding: 8px;width: 180px;margin-top: 55px;" ng-click="save()">Save Course</button>
        </div>
        <!-- Image from right -->
        <div class="six columns cbp-so-side-right" style="margin-bottom:-60px;" >
            <div class="m-template m-template-course">
            <input type="text" ng-model="course.name" class="m-title" id="title-input">
            <textarea ng-model="course.description" class="m-description" id="description-input"></textarea>
            <div class="bottom-bar">

            </div>
        </div>
        </div>
    </div>
        
    </div>
  </div>
</div>
