<div class="container-fluid margedTop">
  <div class="row-fluid">
    <div class="span10 margedTop">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Players</a></li>
            <li><a href="#">Hours</a></li>
            <li><a href="#">Days</a></li>
        </ul>
        <div ng-show="!scores">
            <img src="img/loading.gif" class="loading">
        </div>
        <div ng-show="scores">
            <table class="table table-striped" >
                <thead>
                  <tr>
                    <th>Player</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="score in scores">
                    <td>{{score.name}}</td>
                    <td>{{score.sum_score}}</td>
                  </tr>
                </tbody>
            </table>
        </div>            
    </div>
  </div>
</div>
