<div class="margedTop">
        <div ng-hide="course && knowledges">
            <img src="img/loading.gif" class="loading">
        </div>
        <div class="background-course" ng-show="course && knowledges" >
            <div class="column-left">
                <!-- Title -->
                <div class="title-description-cls">
                    <h3 id="title-description">Course Title</h3>
                </div>
                <!-- Content -->
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Course description:</b> 
                        <br>
                        That's the place where you describe your course.
                    </p>
                </div>
                <br>
                <br>
                <div>
                    <p>
                        <b>Course options:</b>
                        <br>
                        Language: 
                        <select ng-model="language"  ng-options="code as name for (code , name) in languages" class="select-options">
                        </select>
                        <br>
                        Knowledge Field: 
                        <select ng-model="knowledge" ng-options="code as name for (code,name) in knowledges" class="select-options">
                        </select>
                        <br>
                        Course Modality: 
                        <select ng-model="career_type" ng-options="code as name for (code,name) in career_types" class="select-options">
                        </select>
                        <br>
                        Code: 
                        <input ng-model="course.code" type="text" class="input-code-cls">
                        <br>
                        Published: 
                        <input type="checkbox" ng-model="course.published">
                    </p>
                    <br>
                </div>
                   <button ng-class="{'button-disabled': disable_save_button, 'button2':!disable_save_button, 'fade3':true }" style="display: inline-block;padding: 5px;width: 150px;margin-top: 13px;vertical-align:top" ng-click="save()" ng-disabled="disable_save_button">Save</button>            
                   <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini" style="float:none;display:inline-block;vertical-align:top;margin-left:5px;">
                   <div class="fade-out saved-text-cls" ng-show="saved" id="saved-text">✔ Saved!</div>
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
                <input type="text" ng-model="course.name" class="m-title" id="title-input">
                <div class="m-content">
                    <textarea ng-model="course.description" class="m-description" id="description-input" style="height: 100px;"></textarea>
                    <div id="carousel" style="width: 221px;height:115px;">
                        <ul rn-carousel  rn-carousel-indicator  rn-carousel-control style="width: 221px;height:115px;">
                            <li ng-repeat="level in course.levels" seleccionado='level' style="width: 221px;height:115px;">
                                <div class="carousel-card" ng-click="toLevel($index)">
                                    
                                    <div id="centro" align="middle"><p ng-show="level != 'new'" class="levelTitle">Level {{level}}</p><div><img ng-show="level != 'new'" style="-webkit-user-drag: none;" ng-src="img/level_icons/{{level}}.png" align="bottom"><div ng-show="level == 'new'"><button ng-class="{ 'button2':true}" style="width:120px;background-color: #11598c; background-image: linear-gradient(#4ca9e9,#156eac 2%,#0d456c);padding: 3px;margin-top: 33px;">ADD LEVEL</button> </div></div></div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bottom-bar">
                    <div class="bottom-left">
                        <a ng-click="back()" class="pointer"><img src="img/back_button.png"></a>
                    </div>
                    <div class="bottom-right">
                        <button ng-class="{ 'button2':true}" style="text-transform:none;font-weight:900;background-color: #11598c; background-image: linear-gradient(#4ca9e9,#156eac 2%,#0d456c);display: inline-block;padding: 3px;width: 120px;margin-right:6px;vertical-align:top" ng-click="toLevel($parent)">Start</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
