<div class="margedTop">
    <div ng-show="!activity">
        <img src="img/loading.gif" class="loading">
    </div>
    <div class="background-geospatial-activity" ng-show="activity">
        <div class="column-left">
                <div class="breadcumb">
                    <div class="breadcumb-element"><a ng-click="toCareer()" href="">{{courseName}}</a> » </div><div class="breadcumb-element"><a ng-click="back()" href="">level {{level}}</a> » </div><div class="breadcumb-element">{{activity.name}}</div>
                </div>
                <!-- Title -->
                <div class="title-description-cls">
                    <p id="title-description" ><b>Activity Name:</b></p>
                </div>
                <!-- Content -->
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Activity Query:</b> 
                        <br>
                        Write here the query for this Geospatial Activity.
                    </p>
                </div>
                <div class="description-description-cls">  
                    <p id="description-description">              
                        <b>Click the answer:</b> 
                        <br>
                        Click on the map to place the hidden point! The area that is shown when you save the activity will be the area that will be shown to the players!
                    </p>
                </div>
                <div class="description-description-cls">  
                    <p id="description-description">              
                        <b>Radius:</b> 
                        <br>
                        <slider floor="1" ceiling="1000" step="1" precision="1" ng-model="radius" class="geospatial-slider" ngChange="updateCircle()"></slider>
                        {{radius}}
                        <select ng-model="magnitude" ng-options="code as name for (code,name) in magnitudes">
                        </select>
                    </p>
                </div>
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <input type="text" ng-model="activity.name" class="m-title" id="title-input"  maxlength="255" placeholder="Activity Name">
            <input class="m-description activity-query" id="description-input" ng-model="activity.query"  maxlength="255" placeholder="Activity Query">
            <div class="m-content">
                <div id="map_canvas" class="map-cls" ng-cloak></div>
            </div>
            <div class="bottom-bar">
                    <div ng-click="back()" class="backButton pointer">
                        Back
                    </div>
            </div>
        </div>
        <div class="saveButton">
            <button ng-class="{'button-disabled': !getCond(), 'button2':getCond(), 'fade3':true, 'saveButton-inside':true}" ng-click="saveActivity()" ng-disabled="disable_save_button">Save</button>            
            <div class="saved-text-cls">
                <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini">
                <div class="fade-out saved-text-cls" ng-show="saved" id="saved-text">✔ Saved!</div>
            </div>
        </div>

        </div>
    </div>
</div>
