<div class="margedTop">
        <div ng-show="!loaded">
            <img src="img/loading.gif" class="loading">
        </div>
        <div class="background-level" ng-show="loaded" >
            <div class="column-left">
                <div class="breadcumb">
                     
                </div>
                <!-- Title -->
                <div class="title-description-cls">
                    <h3 id="title-description">You are editing Level {{level}}.</h3>
                </div>
                <!-- Content -->
                <div class="activities-description-cls">
                    <p id="description-description">
                        <b>Activities:</b> 
                        <br>
                        That's the place where you place activities of this level.
                    </p>
                </div>
                <br>
                <br>
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <div class="m-title">{{courseName}}</div>
            <div class="m-content-level" style="background-image: url(img/level_icons/{{level}}B.png);">
                <div class="activity-list" >
                    <ul>
                        <li ng-repeat="activity in activities | orderBy:level_order" ">
                            <div>
                                <div ng-click="accessActivity({{activity}})" class="list-item-label">
                                    <div class="list-item">
                                        <div >
                                            <b>{{activity.name}}</b>
                                        </div>
                                        <font size="3" color="grey">
                                            {{activity.query}}
                                        </font>
                                    </div>
                                </div>
                                <div  class="mini-menu-activity">
                                   <div ng-click="removeActivity({{activity}},$event)" class="remove-activity-btn">Remove</div>
                                   <div style="color:black;display:none;" >Are you sure? 
                                        <div ng-click="removeSure({{activity}},$event)" style="color:#009bdb;display:inline;cursor:pointer;">Yes</div>
                                        <div ng-click="noRemove({{activity}},$event)" style="color:#009bdb;display:inline;cursor:pointer;">Back</div>
                                    </div>
                                    <div ng-click="accessActivity({{activity}})" class="edit-activity-btn">Edit</div>
                                    <div ng-click="upActivity({{activity}})" class="edit-activity-btn">Up</div>
                                    <div ng-click="downActivity({{activity}})" class="edit-activity-btn" style="float:none;left:5px;">Down</div>
                                </div>
                            </div>
                            <div style="display:none;margin-top:-55px;margin-bottom:-70px;">
                                  <img src="img/loading.gif">
                            </div>
                        </li>
                        <li>
                            <div class="carousel-card" >
                                <select ng-model="activityType" class="select-options select-activity-type">
                                  <option value="quiz">Quiz</option>
                                  <option value="visual">Visual</option>
                                  <option value="linguistic">Linguistic</option>
                                  <option value="geospatial">Geospatial</option>
                                  <option value="temporal">Temporal</option>
                                </select>
                                <button ng-class="{'button2':true, 'fade3':true, 'new-activity-btn':true }" ng-click="createActivity()">
                                    New Activity
                                </button>      
                            </div>
                        </li>
                    </ul>
                </div>
            </div>    
             <div class="bottom-bar">
                <div class="bottom-left">
                    <div ng-click="back()" class="backButton pointer">
                        Back
                    </div>
                </div>
                <div class="bottom-right">
                </div>
             </div>
        </div>
    </div>
</div>
