<div class="margedTop">
        <div ng-show="!loaded">
            <img src="img/loading.gif" class="loading">
        </div>
        <div class="background-level" ng-show="loaded" >
            <div class="column-left">
                <!-- Title -->
                <div class="title-description-cls">
                    <h3 id="title-description">You are editing Level {{level}}.</h3>
                </div>
                <!-- Content -->
                <div class="activities-description-cls">
                    <p id="description-description">
                        <b>Activities:</b> 
                        <br>
                        That's the place where you place activities of this level.
                    </p>
                </div>
                <br>
                <br>

                   <button ng-class="{'button-disabled': disable_save_button, 'button2':!disable_save_button, 'fade3':true }" style="display: inline-block;padding: 5px;width: 150px;margin-top: 13px;vertical-align:top" ng-click="save()" ng-disabled="disable_save_button">Save</button>            
                   <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini" style="float:none;display:inline-block;vertical-align:top;margin-left:5px;">
                   <div class="fade-out saved-text-cls" ng-show="saved" id="saved-text">✔ Saved!</div>
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <div class="m-title">{{courseName}}</div>
            <div class="m-content" style="background-image: url(img/level_icons/{{level}}B.png); background-repeat: no-repeat;
background-position: center; ">
                <div class="activity-list" >
                    <ul>
                        <li ng-repeat="activity in activities">
                            <div ng-click="accessActivity({{activity}})" class="list-item-label">
                                <div class="list-item">
                                    <div >
                                        <b>{{activity.name}}</b>
                                    </div>
                                    <font size="3" color="grey">
                                        {{activity.query}}
                                    </font>
                                </div>
                            </div>
                            <div  style="color: #009bdb;
font-size: 14px;margin-top:-15px;margin-left:12px;" ><div ng-click="removeActivity({{activity}})" style="float:left;cursor: pointer;">Remove</div><div style="margin-left:60px;cursor: pointer;"ng-click="accessActivity({{activity}})">Edit</div></div>
                        </li>
                        <li>
                            <div class="carousel-card">
                                <select ng-model="activityType" class="select-options" style="display: inline-block;padding: 5px;width: 150px;margin-top: 13px;vertical-align:top">
                                  <option value="quiz">Quiz</option>
                                  <option value="visual">Visual</option>
                                  <option value="linguistic">Linguistic</option>
                                  <option value="geospatial">Geospatial</option>
                                  <option value="relational">Relational</option>
                                  <option value="temporal">Temporal</option>
                                </select>
                                <button ng-class="{'button2':true, 'fade3':true }" style="display: inline-block;padding: 5px;width: 150px;margin-top: 13px;margin-bottom: 13px;vertical-align:top" ng-click="createActivity()">New Activity</button>      
                            </div>
                        </li>
                    </ul>
                </div>
            </div>    
            <div class="bottom-bar">
                <a ng-click="back()" class="pointer"><img src="img/back_button.png"></a>
            </div>
        </div>
        </div>
    </div>
</div>
