<div class="margedTop">
        <div class="background-level" >
            <div class="column-left">
                <!-- Title -->
                <div class="title-description-cls">
                    <h3 id="title-description"></h3>
                </div>
                <!-- Content -->
                <div class="activities-description-cls">
                    <p id="description-description">
                        <b>Activities:</b> 
                        <br>
                        That's the place where you place activities of this level.
                    </p>
                </div>
                <br>
                <br>

                   <button ng-class="{'button-disabled': disable_save_button, 'button2':!disable_save_button, 'fade3':true }" style="display: inline-block;padding: 5px;width: 150px;margin-top: 13px;vertical-align:top" ng-click="save()" ng-disabled="disable_save_button">Save Course</button>            
                   <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini" style="float:none;display:inline-block;vertical-align:top;margin-left:5px;">
                   <div class="fade-out saved-text-cls" ng-show="saved" id="saved-text">✔ Saved!</div>
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <input type="text" ng-model="course.name" class="m-title" id="title-input">
            <div id="carousel" style="width: 221px;height:140px;">
                <ul>
                    <li>
                        <div class="carousel-card">
                            <button ng-class="{'button2':true, 'fade3':true }" style="display: inline-block;padding: 5px;width: 200px;margin-top: 13px;vertical-align:top" ng-click="create-level()" >Create New Activity</button>            
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bottom-bar">

            </div>
        </div>
        </div>
    </div>
</div>
