<div class="margedTop">
    <div ng-show="!activity">
        <img src="img/loading.gif" class="loading">
    </div>
    <div class="background-visual-activity" ng-show="activity">
        <div class="column-left">
                <div ng-show="courseName" class="breadcumb">
                    {{courseName}} <font style="font-style: italic; ">level {{level}}:</font>
                </div>
                <!-- Title -->
                <div class="title-description-cls">
                    <p id="title-description" ><b>Activity Name:</b></p>
                </div>
                <!-- Content -->
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Activity Query:</b> 
                        <br>
                        That's the place where you write the query for a Linguistic Activity.
                    </p>
                </div>
                 <div class="element1-description-cls">                
                    Correct Answer:                 
                    <input ng-model="activity.answer" type="text" class="input-code-cls">
                </div>
                <div class="element2-description-cls">  
                    <p id="description-description countdown">              
                        <b>Locked Text:</b> 
                        <br>
                        That's the place where you type the hint what will be locked. Can be the same as the answer.
                    </p>
                </div>
              
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <input type="text" ng-model="activity.name" class="m-title" id="title-input">
            <textarea class="m-description activity-query" id="description-input" ng-model="activity.query"></textarea>
            <div class="m-content">
                <div id="carousel" style="width: 221px;height:175px;">
                    <label for="file" >
                        <img id="image" alt="Temporal Activity Image" ngSrc="data:image/png;base64,{{activity.image}}" ng-show="activity.image"/>
                        <div id="image" ng-class="{'button2':true, 'fade3':true }" style="display: inline-block;padding: 3px;width: 120px;margin-top: 45%;margin-left:45px;vertical-align:top;text-align:center;" ng-hide="activity.image">
                           Add Image
                        </div>
                    </label>
                    <input ng-change="addImage();" ng-model="activity.image" type="file" id="file" name="file" style="display:none;" multiple />
                </div>
                <div style="text-align:center;">
                    <input ng-model="activity.locked_text" type="text" class="input-code-cls" size="20">   
                </div>
            </div>
            <div class="bottom-bar">
                    <div ng-click="back()" class="backButton pointer">
                        Back
                    </div>
            </div>
        </div>
        <div class="saveButton">
            <button ng-class="{'button-disabled': !getCond(), 'button2':getCond(), 'fade3':true }" style="display: inline-block;padding: 5px;width: 150px;vertical-align: top;" ng-click="saveActivity()" ng-disabled="disable_save_button">Save</button>            
            <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini" style="float:none;display:inline-block;vertical-align:top;margin-left:5px;">
            <div class="fade-out saved-text-cls" ng-show="saved" id="saved-text">✔ Saved!</div>
        </div>
        </div>
    </div>
</div>
