<div class="margedTop">
    <div ng-show="!activity">
        <img src="img/loading.gif" class="loading">
    </div>
    <div ng-show="courseName">
    You are editing {{courseName}}, level {{level}}:
    </div>
    <div class="background-quiz-activity" ng-show="activity">
        <div class="column-left">
                <!-- Title -->
                <div class="title-description-cls">
                    <h3 id="title-description" >Activity Name</h3>
                </div>
                <!-- Content -->
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Activity Query:</b> 
                        <br>
                        That's the place where you write the query for a Quiz Activity.
                    </p>
                </div>
                <br>
                Correct Answer: 
                <select ng-model="correct_answer"  ng-options="a.value for a in activity.real_answers" class="select-options">
                </select>
                <br>
                <button ng-class="{'button-disabled': disable_save_button, 'button2':!disable_save_button, 'fade3':true }" style="display: inline-block;padding: 5px;width: 150px;margin-top: 13px;vertical-align:top" ng-click="saveActivity()" ng-disabled="disable_save_button">Save</button>            
                <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini" style="float:none;display:inline-block;vertical-align:top;margin-left:5px;">
                <div class="fade-out saved-text-cls" ng-show="saved" id="saved-text">✔ Saved!</div>
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <input type="text" ng-model="activity.name" class="m-title" id="title-input">
            <div class="m-content">
                <textarea class="m-description" id="description-input" ng-model="activity.query"></textarea>
                <div id="carousel" style="width: 221px;height:140px;">
                    <ul ng-repeat="answer in activity.real_answers">
                        <li>
                            <div class="carousel-card">
                               <input type="text" ng-model="answer.value" >
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="bottom-bar">
                <div class="bottom-left">
                    <a ng-click="back()" class="pointer"><img src="img/back_button.png"></a>
                </div>
                <div class="bottom-right">
                    <button ng-class="{ 'button2':true}" style="background-color: #11598c; background-image: linear-gradient(#4ca9e9,#156eac 2%,#0d456c);display: inline-block;padding: 3px;width: 120px;margin-right:6px;vertical-align:top" ng-click="addAnswer()">Add Answer</button> 
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
