<div class="margedTop">
    <div ng-show="!activity">
        <img src="img/loading.gif" class="loading">
    </div>
    <div class="background-quiz-activity" ng-show="activity">
        <div class="column-left">
                <div class="breadcumb">
                    {{courseName}} <font style="font-style: italic; ">level {{level}}:</font>
                </div>
                <!-- Title -->
                <div class="title-description-cls">
                    <p id="title-description" ><b>Activity Name:</b></p>
                </div>
                <!-- Content -->
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Activity Query:</b> 
                        <br>
                        Write here the query for this Quiz Activity.
                    </p>
                </div>
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Answers:</b> 
                        <br>
                        Place here the possible answers, push the "Add Answer" button to add new ones.
                    </p>
                </div>
                <br>
                Correct Answer: 
                <select ng-model="correct_answer"  ng-options="a.value for a in activity.real_answers" class="select-options high-light out-box">
                </select>
                <br>
               
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <input type="text" ng-model="activity.name" class="m-title" id="title-input" maxlength="255" placeholder="Activity Name">
            <input class="m-description activity-query" id="description-input" ng-model="activity.query" maxlength="255" placeholder="Activity Query">
            <div class="m-content" style="overflow-y:auto">
                <div id="carousel" style="width: 100%;margin-top: 10px;">
                    <ul ng-repeat="answer in activity.real_answers">
                        <li>
                            <div class="carousel-card" style="padding-bottom: 5px;">
                               <input ng-model="answer.value" ngMouseover="{{index}}" class="visual-answer">
                                <button type="button" class="btn btn-xs remove-answer" ng-click="removeAnswer({{$index}})">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="bottom-bar">
                <div class="bottom-left">
                    <div ng-click="back()" class="backButton pointer">
                        Back
                    </div>
                </div>
                <div class="bottom-right">
                    <button ng-class="{'button2':true, 'start-level-btn':true}" ng-click="addAnswer()">Add Answer</button> 
                </div>
            </div>
        </div>
        <div class="saveButton">
            <button ng-class="{'button-disabled': !getCond(), 'button2':getCond(), 'fade3':true, 'saveButton-inside':true }" ng-click="saveActivity()" ng-disabled="disable_save_button">Save</button>            
            <div class="saved-text-cls">
                <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini">
                <div class="fade-out" ng-show="saved" id="saved-text">✔ Saved!</div>
            </div>
        </div>
        </div>
    </div>
</div>
