<div class="margedTop">
    <div ng-show="!activity">
        <img src="img/loading.gif" class="loading">
    </div>
    <div class="background-quiz-activity" ng-show="activity">
        <div class="column-left">
                <div class="breadcumb">
                    {{courseName}} <font style="font-style: italic; ">level {{level}}:</font>
                </div>
                <!-- Title -->
                <div class="title-description-cls">
                    <p id="title-description" ><b>Activity Name:</b></p>
                </div>
                <!-- Content -->
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Activity Query:</b> 
                        <br>
                        That's the place where you write the query for a Quiz Activity.
                    </p>
                </div>
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Answers:</b> 
                        <br>
                        Possible answers are placed here, push the button add answer to add new ones.
                    </p>
                </div>
                <br>
                Correct Answer: 
                <select ng-model="correct_answer"  ng-options="a.value for a in activity.real_answers" class="select-options">
                </select>
                <br>
               
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <input type="text" ng-model="activity.name" class="m-title" id="title-input" maxlength="255" >
            <input class="m-description activity-query" id="description-input" ng-model="activity.query" maxlength="255" >
            <div class="m-content" style="overflow-y:auto">
                <div id="carousel" style="width: 100%;margin-top: 10px;">
                    <ul ng-repeat="answer in activity.real_answers">
                        <li>
                            <div class="carousel-card" style="padding-bottom: 5px;">
                               <input ng-model="answer.value" ngMouseover="{{index}}" style="-webkit-box-flex: 1;
                               width: 80%;
                                -webkit-box-align: center;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                text-align: center;
                                font-weight: bold;
                                line-height: 1.2em;
                                background-color: #ccc;
                                overflow: hidden;
                                font-weight: normal;
                                -webkit-border-radius: 0.4em;
                                border-radius: 0.0em;
                                background-image: linear-gradient(#ffffff,#dedede 2%,#bababa);">
                                <button type="button" style="margin-top: -5px;" class="btn btn-xs" ng-click="removeAnswer({{$index}})">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>
            <div class="bottom-bar">
                <div class="bottom-left">
                    <div ng-click="back()" class="backButton pointer">
                        Back
                    </div>
                </div>
                <div class="bottom-right">
                    <button ng-class="{ 'button2':true}" style="background-color: #11598c; background-image: linear-gradient(#4ca9e9,#156eac 2%,#0d456c);display: inline-block;padding: 3px;width: 120px;margin-right:6px;vertical-align:top" ng-click="addAnswer()">Add Answer</button> 
                </div>
            </div>
        </div>
        <div class="saveButton">
            <button ng-class="{'button-disabled': !getCond(), 'button2':getCond(), 'fade3':true }" style="display: inline-block;padding: 5px;width: 150px;vertical-align: top;" ng-click="saveActivity()" ng-disabled="disable_save_button">Save</button>            
            <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini" style="float:none;display:inline-block;vertical-align:top;margin-left:5px;">
            <div class="fade-out saved-text-cls" ng-show="saved" id="saved-text">✔ Saved!</div>
        </div>
        </div>
    </div>
</div>
