<div class="container-fluid  margedTop">
    <div ng-hide="course">
        <img src="img/loading.gif" class="loading">
    </div>
    <div class="well white error-box" ng-show="course">
        <p><b>Are you sure you want to delete {{course.name}}?</b></p>
        <div style="margin-left:17%;">
       <button ng-class="{'no-btn':true, 'fade3':true }" ng-click="no()" ng-disabled="disable_save_button">No</button> 
       <button ng-class="{'yes-btn':true,'fade3':true }"  ng-click="yes()" ng-disabled="disable_save_button">Yes</button> 

       </div>
    </div>
</div>

