<div class="margedTop">
    <div ng-show="!activity">
        <img src="img/loading.gif" class="loading">
    </div>

    <div class="background-quiz-activity" ng-show="activity">
        <div class="column-left">
                <div class="breadcumb">
                    <div class="breadcumb-element"><a ng-click="toCareer()" href="">{{courseName}}</a> » </div><div class="breadcumb-element"><a ng-click="back()" href="">level {{level}}</a> » </div><div class="breadcumb-element">{{activity.name}}</div>
                </div>
                <!-- Title -->
                <div class="title-description-cls">
                   <p id="title-description" ><b>Activity Name</b></p>
                </div>
                <!-- Content -->
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Activity Query</b> 
                        <br>
                        Write here the question, it should have only two possible answers: after and before.
                    </p>
                </div>
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Image</b> 
                        <br>
                        Upload an image to accompanying the question. When a image is loaded, Click to reupload a new one!                    
                    </p>
                </div>
                <br>
                Correct Answer                 
                <select ng-model="correct_answer" class="select-options high-light out-box">
                  <option value="before">Before</option>
                  <option value="after">After</option>
                </select>
                <br>
               
        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <input type="text" ng-model="activity.name" class="m-title" id="title-input" maxlength="255" placeholder="Activity Name">
            <input class="m-description activity-query" id="description-input" ng-model="activity.query" maxlength="255" placeholder="Activity Query">
            <div class="m-content">
                <div id="carousel" style="height=221px;">

                   <label for="file" >
                        <img id="image" ng-src="{{baseURL}}{{activity.image}}" />
                        <div id="image" ng-class="{'button2':true, 'fade3':true, 'add-image-btn': true }" ng-hide="activity.image">
                           Add Image
                        </div>
                    </label>
                    <input onchange="angular.element(this).scope().addImage();" type="file" id="file" name="file" style="display:none;" multiple />

                    
                </div>
            </div>
            <div class="bottom-bar">
                    <div ng-click="back()" class="backButton pointer">
                        Back
                    </div>
            </div>
        </div>
        <div class="saveButton">
            <button ng-class="{'button-disabled': !getCond(), 'button2':getCond(), 'fade3':true, 'saveButton-inside':true }" ng-click="saveActivity()" ng-disabled="disable_save_button">Save</button>            
            <div class="saved-text-cls">
                <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini">
                <div class="fade-out" ng-show="saved" id="saved-text">✔ Saved!</div>
            </div>
        </div>
        </div>
    </div>
</div>
