<div class="margedTop">
    <div ng-show="!activity">
        <img src="img/loading.gif" class="loading">
    </div>
    <div class="background-visual-activity" ng-show="activity">
        <div class="column-left">
                <div class="breadcumb">
                    <div class="breadcumb-element"><a ng-click="toCareer()" href="">{{courseName}}</a> » </div><div class="breadcumb-element"><a ng-click="back()" href="">level {{level}}</a> » </div><div class="breadcumb-element">{{activity.name}}</div>
                </div>        
                <!-- Title -->
                <div class="title-description-cls">
                    <p id="title-description" ><b>Activity Name:</b></p>
                </div>
                <!-- Content -->
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Activity Query:</b> 
                        <br>
                        Write here the query for this Visual Activity.
                    </p>
                </div>
                <div class="description-description-cls">
                    <p id="description-description">
                        <b>Image:</b> 
                        <br>
                        Upload an image to accompanying the question. When a image is loaded, Click to reupload a new one!                    
                    </p>
                </div>
                <div class="description-description-cls">  
                    <p id="description-description">              
                        <b>Time Countdown:</b> 
                        <br>
                        Type the number of seconds that the player will watch the image.
                    </p>
                </div>
                <div class="description-description-cls">                
                    Correct Answer:                 
                    <select ng-model="correct_answer"  ng-options="a.value for a in activity.real_answers" class="select-options high-light out-box">
                    </select>
                </div>
                <br>

        </div>
        <div class="column-right">
            <div class="m-template m-template-course">
            <input type="text" ng-model="activity.name" class="m-title" id="title-input"  maxlength="255" placeholder="Activity Name">
            <input class="m-description activity-query" id="description-input" ng-model="activity.query"  maxlength="255"  placeholder="Activity Query">
            <div class="m-content" style="overflow-y:auto; ">
               <div id="carousel">
                    <div ng-show="inAnswers" style="margin-top:10px">
                        <ul ng-repeat="answer in activity.real_answers" >
                            <li>
                                <div class="carousel-card" style="padding-bottom: 5px;">
                                   <input type="text" ng-model="answer.value" ngMouseover="{{index}}" class="visual-answer">
                                    <button type="button" class="btn btn-xs remove-answer" ng-click="removeAnswer({{$index}})">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    <div ng-show="!inAnswers" style="height:100%">
                        <div class="not-answers">
                            <label for="file" >
                                <img id="image" ng-src="{{baseURL}}{{activity.image}}" />
                                <div id="image" ng-class="{'button2':true, 'fade3':true, 'add-image-btn': true }" ng-hide="activity.image">
                                    Add Image
                                </div>
                            </label>
                            <input onchange="angular.element(this).scope().addImage()" type="file" id="file" name="file" style="display:none;" multiple />
                        </div>
                        <div class="countdown">
                            Countdown: 
                            <input ng-model="activity.time" type="text" style="line-height: 1px;" size="1" dir="rtl"> secs 
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-bar">
                <div class="bottom-left">
                    <div ng-show="!inAnswers" ng-click="back()" class="backButton pointer">
                        Back
                    </div>
                    <div ng-show="inAnswers" ng-click="inAnswers=false" class="backButton pointer">
                        Back
                    </div>
                </div>
                <div class="bottom-right">
                    <button style="margin-top: 1px;
margin-right: 5px;
padding: 3px;
border: 1px solid black;
height: 32px;" ng-class="{ 'button2':true, 'start-level-btn':true}" ng-click="inAnswers=true;" ng-show="!inAnswers">Edit Answers</button> 
                    <button ng-class="{ 'button2':true, 'start-level-btn':true}" ng-click="addAnswer()" ng-show="inAnswers">Add Answer</button>
                </div>
            </div>
        </div>
        <div class="saveButton">
            <button ng-class="{'button-disabled': !getCond(), 'button2':getCond(), 'fade3':true, 'saveButton-inside':true }" ng-click="saveActivity()" ng-disabled="disable_save_button">Save</button>            
            <div class="saved-text-cls">
                <img ng-show="disable_save_button" src="img/loading-mini.gif" class="loadingMini">
                <div class="fade-out" ng-show="saved" id="saved-text">✔ Saved!</div>
            </div>
        </div>
        </div>
    </div>
</div>
